body, html{
    margin:0;
    padding:0;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Serif', serif;
}
a {
    /* color: blue; */
    text-decoration: none;
}
/* header and footer has flex display is centered takes 100% width and has blue background*/
.header, .footer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #e1e5e6;
}
.hl:visited{
    color: #5B42F3;
}
.hl:hover{
    color:black;
}

.hl:active{
    color: rgba(70, 6, 233, 0.958);
}
.section1, 
.section2, 
.section3, 
.section4 {
    width: 100%;
    min-height: 85%;
}

.section1{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: rgb(255, 255, 255);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: black;
    box-shadow: 0px 3px 25px 0 rgb(255, 0, 0), 0 4px 15px 0px rgb(132, 132, 132);
    /* padding-top: 3%; */
    width: 100%;
    /* width: 80%; */
    /* padding-right: 15%; */
    /* padding-left: 15%; */
    /* padding-bottom: 3%; */
}

.headerlogo {
    font-weight: 700;
    padding-left: 50px;
    font-size: x-large;
}
.links {
    font-size: small;
    margin-left: auto;
    padding-right: 50px;
    color: white;
    font-weight: 500;
}

.hlink{
    margin-right: 25px;
}

.s1-list-block{

    background-color: rgba(0,0,0,.7) !important;
}
.s1-list-unit{
    display: block;
    margin: 0 auto;
    width: 100%;   
}
.s1-list-status-title {
    display: inline-flex;
    text-align: center;

}
.s1-list-unit .s1-list-status-title {
    position: relative;
    display: table;
    background-color: #0080FF;
    width: 100%;
    height: 38px;
    border-left: 0px solid #444 !important;
    border-right: 0px solid #444 !important;
}

.s1-text {
    display: table-cell;
    height: 38px;
    font-size: 2.5em;
    color: #444;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.s1-list-table{
    background-color: transparent !important;
    border: 0 transparent solid !important;
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
    /* text-align: left; */
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.s1-list-table .s1-list-table-header .s1-header-title.status {
    background-image: none;
    width: 4px;
}

.s1-list-table .s1-list-table-header .s1-header-title {
    /* background: #333 url("/img/pc/ownlist/bar-table-header-dark.png") no-repeat right 7px / 1px 22px; */
    display: table-cell;
    height: 36px;
    /* border-bottom: #444 1px solid; */
    text-align: center;
    vertical-align: middle;
}
.s1-list-table, .s1-list-container, .s1-list-table .s1-list-table-header .s1-header-title {
    background-color: transparent !important;
    border: 0 transparent solid !important;
}

.s1-list-table .s1-list-table-header .s1-header-title {
    background: #333 url("bar-table-header-dark.png") no-repeat right 7px / 1px 22px;
    display: table-cell;
    height: 36px;
    text-align: center;
    vertical-align: middle;
}

.s1-list-table .s1-list-table-header .s1-header-title.number {
    color: rgb(233, 233, 233);
    width: 30px;
}


.s1-list-table .s1-list-table-header .s1-header-title.image {
    width: 66px;
    cursor: pointer;
}

.s1-list-table .s1-list-table-header .s1-header-title.title {
    padding-left: 8px;
    text-align: left;
    width: 567px;
}

.s1-list-table .s1-list-table-header .s1-header-title.score {
    width: 65px;
}

.s1-list-table .s1-list-table-header .s1-header-title.platform {
    width: 90px;
}

.s1-list-table .s1-list-table-data .s1-data.status.reading, .s1-list-table .s1-list-table-data .s1.data.status.watching {
    background-color: #2db039;
}

.s1-list-table .s1-list-table-data .s1.data.status {
    width: 4px;
}

.s1-list-table .s1-list-table-data .s1.data {
    border: 0 transparent solid !important;
    display: table-cell;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: #444 1px solid;
    color: #0080FF;
}


#title-name{
    text-align: left;
    padding-left: 8px;
}
/* .s1-list-table .s1-list-table-header .s1-header-title .s1.link.sort {
    position: relative;
    display: inline-block;
    color: #0080FF;
    white-space: nowrap;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
} */

.s1-list-table .s1-list-table-header .s1-header-title.score {
    width: 65px;
}



.s1-header-title a{
    color: #0080FF;
}

.s1-header-title a:hover{
    color: cyan !important;
    /* outline: white dashed 1px !important; */
}

th{
    font-weight: bold;
    font-size: 18px;
}
table{
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
.footer {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: large;
    position: absolute;
    bottom: 0;
}